/* .httg{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
}
.header_content{
    display: none;
    margin-top: 44px;
    font-size: 20px;
    color: black;
} */